<div class="post">
    <h2>Standard Dummy</h2>
    <div class="date">June 06, 2012</div>
    <div class="author">Posted by <a href="#">Username</a></div>
    <br class="clearfloat" />
    <p>
        Lorem Ipsum.
    </p>
    <div class="readmore"><a href="#">Read more</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></div>
</div>