{% extends "layout.html" %}
{% block container %}
<div class="container">
    <section>
        <div class="mainContent">
            {% for item in events %}
                <div class="event">
                    <h2>{{item.description}}</h2>
                    <div class="date">{{item.created_on}}</div>
                    <br class="clearfloat" />
                    <p>
                        {{item.event}}
                    </p>
                    <div class="readmore"><a href="#">Read more</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></div>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
