<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mammoth Data: Demo</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="../static/styles.css" rel="stylesheet" type="text/css" />
<script src="../static/jquery-2.1.4.min.js"></script>
<script src="../static/jquery-ui-1.11.4/jquery-ui.min.js"></script>
</head>
<body>
<div class="navcontainer">
    <ul class="navlist">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Query</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Admin</a></li>
        {% if session.logged_in %}
        <li><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>
    <header>
        <h1><a href="">EMR Based Infection Recognition</a></h1>
        <img src="../static/logo.png" />
        <p>Hadoop and Big Data Consulting</p>
        <br class="clearfloat" />
    </header>
    {% block container %}
        {% if not session.logged_in %}
        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="post">
            <dl>
            <dt>Username:
            <dd><input type="text" name="username">
            <dt>Password:
            <dd><input type="password" name="password">
            <dd><input type="submit" value="Login">
            </dl>
        </form>
        {% endif %}
    {% endblock %}
</div>
        <div class="sidebar1Separator"></div>
        <div class="sidebar1">
            <h3>Stuff</h3>
            <ul class="sidebarlist">
                <li><a href="#">Lorem Ipsum is simply dummy </a></li>
                <li><a href="#">Been the industry's standard</a></li>
                <li><a href="#">When an unknown printer took</a></li>
                <li><a href="#">Galley of type and scrambled</a></li>
                <li><a href="#">Only five centuries but also</a></li>
                <li><a href="#">Into electronic typesetting</a></li>
            </ul>
            <h3>More Stuff</h3>
            <ul class="sidebarlist">
                <li><a href="#">Lorem Ipsum is simply dummy </a></li>
                <li><a href="#">Been the industry's standard</a></li>
                <li><a href="#">When an unknown printer took</a></li>
                <li><a href="#">Galley of type and scrambled</a></li>
                <li><a href="#">Only five centuries but also</a></li>
                <li><a href="#">Into electronic typesetting</a></li>
            </ul>
            <h3>Event More Stuff</h3>
            <ul class="sidebarlist">
                <li><a href="#">Lorem Ipsum is simply dummy </a></li>
                <li><a href="#">Been the industry's standard</a></li>
                <li><a href="#">When an unknown printer took</a></li>
                <li><a href="#">Galley of type and scrambled</a></li>
                <li><a href="#">Only five centuries but also</a></li>
                <li><a href="#">Into electronic typesetting</a></li>
            </ul>
        </div>
        <br class="clearfloat" />
    </section>
</div>
<footer>
    <p>
        Copyright &copy; Mammoth Data. All rights reserved.
    </p>
</footer>
</body>
</html>
