/*

Theme Name: Mammoth Data
Template: x

*/

/* =========================================================================
	#Reset
========================================================================= */
* { margin: 0; padding: 0; outline: 0; }

/* =========================================================================
	#Base
========================================================================= */
body { min-width: 320px; 
	-webkit-text-size-adjust: 100%;
}

img { border: 0; vertical-align: middle; }

a { cursor: pointer; text-decoration: none; }

h1 { font-size: 36px; line-height: 1.33; }
h2 { font-size: 30px; line-height: 1.2; }
h3 { font-size: 24px; line-height: 1.25; }

.pagetitle {color: #333; font-size: 44px; text-transform: uppercase;}

.news-widget {color: #444; font-size: 22px; border-left: #3cb6dd solid 5px; padding-left: 10px;   font-family: "Raleway","Helvetica Neue",Helvetica,sans-serif; }

.news-widget a:hover {color: #f79522 !important; font-size: 22px;  }

.page-head { width: 100%; height: 150px; background-position: center center; -webkit-background-size: cover; background-size: cover; }

/* =========================================================================
	#Helpers
========================================================================= */
.alignleft { float: left; }
.alignright { float: right; }

.clearfix:before,
.clearfix:after { display: table; content: " "; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =========================================================================
	#X Btn
========================================================================= */
.x-btn { font-weight: 700; line-height: 1; text-transform: uppercase; padding: 0.9em 1.125em 0.813em !important;}
.x-btn.btn-lightblue { border-color: #3cb6dd; background-color: #3cb6dd; }

.x-btn, .x-btn:hover, .button, .button:hover, [type="submit"], [type="submit"]:hover {   text-shadow: none !important; }

/* =========================================================================
	#Wrapper
========================================================================= */
.wrapper { min-height: 100%; }
.shell { width: 980px; margin: 0 auto; }

/*.x-container {border-top: 150px solid orange !important;}*/

/* =========================================================================
	#X Topbar
========================================================================= */
.x-topbar .alignright { overflow: hidden; padding-top: 6px; margin: 0; }
.x-topbar-inner { padding-bottom: 9px; }
.x-topbar .menu,
.x-topbar .menu ul { list-style: none outside none; }
.x-topbar .menu { overflow: hidden; float: left; padding-top: 13px; margin: 0; }
.x-topbar .menu li { float: left; padding: 0 13px; font-family: 'Josefin Sans', sans-serif; font-size: 12px; font-weight: 700; line-height: 1; text-transform: uppercase; }
.x-topbar .menu li + li { border-left: 1px solid #818181; }
.x-topbar .menu a { color: #818181; }
.x-topbar .menu a:hover { color: #F79522; }
.p-info,
.p-info a { font-family: 'Josefin Sans', sans-serif; font-size: 14px; font-weight: 700; color: #5e5d5d; }
.p-info { padding: 6px 0 0 27px; }

/* =========================================================================
	#X Navbar Wrap
========================================================================= */
.x-navbar-wrap .x-brand img { width: auto; }
.x-navbar { border-bottom-width: 0;
	-webkit-box-shadow: 0 2px 4px rgba(214, 214, 214, .9); 
		    box-shadow: 0 2px 4px rgba(214, 214, 214, .9);
}
.x-navbar .desktop .x-nav > li > a > span { padding-right: 0.75em; padding-left: 0.75em; border-width: 0; letter-spacing: -0.1px; }

/* =========================================================================
	#X Social Global
========================================================================= */
.x-social-global { padding: 2px 8px 0 13px; }
.x-social-global a { color: #3cb6dd; }
.x-social-global a:hover { color: #f79522; }

/* =========================================================================
	#Slider Home
========================================================================= */
.slider-home { margin-bottom: 29px; }
.slider-home .rev_slider_wrapper { text-align: center; }
.slider-home .rev_slider_wrapper h1 { padding-bottom: 15px; margin-top: 0; font-weight: 700; line-height: 48px; color: #000; text-transform: uppercase; }
.slider-home .rev_slider_wrapper p { line-height: 1.42; }
.slider-home .rev_slider_wrapper .x-btn { padding: 11px 28px 10px !important; margin-top: 34px; font-size: 22px !important; color: #fff; font-family: 'Raleway', sans-serif; }
.slider-home .rev_slider { border-bottom: 6px solid #f79522; }
.tp-caption .x-btn:hover { color: #fff; }

.slider-home .tp-leftarrow.default,
.slider-home .tp-rightarrow.default { width: 26px; height: 50px; }
.slider-home .tp-leftarrow.default { background: url(images/arrow-left.png) no-repeat 0 0; }
.slider-home .tp-rightarrow.default { background: url(images/arrow-right.png) no-repeat 0 0; }

.slider-home .tp-bullets { bottom: 41px !important; }
.slider-home .tp-bullets.simplebullets.round .bullet { width: 14px; height: 14px; margin-left: 0; border-radius: 50%; background: #fff; 
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .44); 
	        box-shadow: inset 0 2px 2px rgba(0, 0, 0, .44); 
}
.slider-home .tp-bullets.simplebullets.round .bullet:hover,
.slider-home .tp-bullets.simplebullets.round .bullet.selected,
.slider-home .tp-bullets.simplebullets.navbar .bullet:hover,
.slider-home .tp-bullets.simplebullets.navbar .bullet.selected { background: #3cb6dd;
	-webkit-box-shadow: none; 
	        box-shadow: none; 
}
.slider-home .tp-bullets.simplebullets.round .bullet ~ .bullet { margin-left: 16px; }

/* =========================================================================
	#Entry
========================================================================= */
.hentry .entry-wrap,
.search-results .x-container > .product .entry-wrap { padding: 0; }

/* =========================================================================
	#Section Promo
========================================================================= */
.section-promo { padding-bottom: 42px; }
.section-promo .x-block-grid-item { min-height: 230px; background: #ebebeb; font-size: 16px; font-weight: 400; line-height: 1.5; color: #858585; text-align: center; }
.section-promo .x-block-grid-item h2 { margin: 0.47em 0 0.35em; font-weight: 700; color: #272727; }
.section-promo .x-block-grid.three-up > li.x-block-grid-item { width: 30%; padding: 2%; margin-left: 5%; }
.section-promo .x-block-grid.three-up > li:nth-child(3n+1) { margin-left: 0; }

.feedzy-rss .title a{   font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #858585; 
  float: none;
  clear: both;
}

.feedzy-rss .title a:hover{   font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #777; 
  text-decoration: none; 
}

/*.feedzy-rss .title::after{ 
	content:'...READ MORE';  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #f79522; 
}*/

.rss-item {padding: 0 !important;}

.feedzy-rss { margin-top: -10px; }

.rss_image { margin: 0px 40px 20px 40px !important;}

.feedzy-rss .rss_item .rss_image span { top: 0; left: 0; }

select, input[type="file"] {
    height: 2.65em;
    margin-bottom: 10px;
    overflow: visible;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


/* =========================================================================
	#Section Services
========================================================================= */
.section-services { border-width: 1px 0; border-style: solid; border-color: #dfdfdf; font-size: 14px; color: #121212;
	-webkit-box-shadow: inset 0 2px 0 #fff, inset 0 -2px 0 #fff; 
	        box-shadow: inset 0 2px 0 #fff, inset 0 -2px 0 #fff; 
}
.section-services > .x-container { padding-bottom: 50px; }
.section-services h2.h-custom-headline { margin: 0 0 9px; font-size: 30px; font-weight: 700; line-height: 1; text-transform: uppercase; letter-spacing: 1px; }
.section-services h3.h-custom-headline { margin: 44px 0 47px; font-family: 'Raleway', sans-serif; font-size: 24px; font-weight: 700; line-height: 1.25; color: #000; }
.section-services .x-block-grid-item { margin-bottom: 40px; line-height: 1.72; }
.section-services .x-block-grid-item p { overflow: hidden; }
.section-services .x-block-grid-item img.left { margin: 14px 25px 5px 0; }
.section-services .x-block-grid-item img.right { margin: 14px 0 5px 25px; }
.section-services .x-btn { padding: 15px 28px 11px; font-family: 'Josefin Sans', sans-serif; font-size: 22px; font-weight: 700; line-height: 1; text-shadow: none; }
.section-services .x-container > .x-btn { display: table; margin: 0 auto; }

/* =========================================================================
	#Section Description
========================================================================= */
.section-description.x-content-band { padding-top: 11px !important; margin-bottom: 0; font-size: 18px; font-weight: 600; line-height: 1.67; color: #9e9e9e; letter-spacing: -1px; }
.section-description > .x-container { padding-bottom: 62px; }
.section-description > p:first-child { margin: 0; }
.section-description h3 { margin: 0 0 22px; font-family: 'Raleway', sans-serif; font-size: 24px; font-weight: 600; line-height: 1.5; color: #272727; letter-spacing: -1.4px; }
.section-description .x-content-band { padding-bottom: 0; margin-bottom: 0; }
.section-description .section-text { padding-left: 20px; }
.section-description .section-text h3 { margin-top: 48px; }
.section-description #macbook-image { margin: 0 -233px 0 -52px; }
.section-description .x-btn { display: table; padding: 9px 28px 11px; margin: 64px auto 0; font-family: 'Josefin Sans', sans-serif; font-size: 22px; font-weight: 700; line-height: 1; text-shadow: none; }

/* =========================================================================
	#Section Testimonials
========================================================================= */
.section-testimonials.x-content-band { border-top: 1px solid #e7e7e7; margin-bottom: 0; }
.section-testimonials .tp-caption { width: 952px; font-family: 'Josefin Sans', sans-serif; font-size: 47px; line-height: 1.08; color: #fff; text-align: center; }
.section-testimonials .tp-caption h3 { font-weight: 700; color: #fff; text-transform: uppercase; }

/* =========================================================================
	#Section Featured
========================================================================= */
.section-featured.x-content-band { border-top: 1px solid #e7e7e7; margin-bottom: 0; }
.section-featured .tp-caption { overflow: hidden; width: 980px; font-size: 16px; line-height: 1.88; color: #747474; letter-spacing: 0; }
.section-featured .alignleft,
.section-featured .alignright { margin: 0; }
.section-featured .alignleft { width: 267px; text-align: right; }
.section-featured .alignright { max-width: 591px; margin-right: 70px; }
.section-featured h1,
.section-featured h3 { margin: 0; text-transform: uppercase; }
.section-featured h1 { margin-bottom: 24px; font-weight: 700; color: #272727; }
.section-featured h3 { margin-bottom: 25px; font-weight: 600; color: #989898; }
.section-featured .x-btn { padding: 13px 22px 11px !important; font-size: 14px !important; font-weight: 600 !important; line-height: 1; color: #fff; font-family: 'Raleway', sans-serif; min-width: 238px; }
.section-featured .x-btn ~ .x-btn { margin-left: 23px; }

.section-featured .tp-bullets.simplebullets.round .bullet { width: 14px; height: 14px; border-radius: 50%; margin: 0; background: #dedede; 
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .2); 
	        box-shadow: inset 0 2px 2px rgba(0, 0, 0, .2); 
}
.section-featured .tp-bullets.simplebullets.round .bullet.selected { border: 1px solid #b0b0b0; 
    background: rgb(230,230,230);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2Q3ZDdkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2NiY2JjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYWJhYmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(230,230,230,1) 0%, rgba(215,215,215,1) 40%, rgba(203,203,203,1) 60%, rgba(186,186,186,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(40%,rgba(215,215,215,1)), color-stop(60%,rgba(203,203,203,1)), color-stop(100%,rgba(186,186,186,1)));
	background: -webkit-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(215,215,215,1) 40%,rgba(203,203,203,1) 60%,rgba(186,186,186,1) 100%);
	background: -o-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(215,215,215,1) 40%,rgba(203,203,203,1) 60%,rgba(186,186,186,1) 100%);
	background: -ms-linear-gradient(top,  rgba(230,230,230,1) 0%,rgba(215,215,215,1) 40%,rgba(203,203,203,1) 60%,rgba(186,186,186,1) 100%);
	background: linear-gradient(to bottom,  rgba(230,230,230,1) 0%,rgba(215,215,215,1) 40%,rgba(203,203,203,1) 60%,rgba(186,186,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#bababa',GradientType=0 );
	
	-webkit-box-shadow: none; 
	        box-shadow: none; 
}
.section-featured .tp-bullets.simplebullets.round .bullet ~ .bullet { margin-left: 16px; }

/* =========================================================================
	#Widget
========================================================================= */
.x-colophon.top .widget ul li,
.x-colophon.top .widget ol li { padding: 0; font-size: 18px; line-height: 1.67; color: #272727; text-transform: none; letter-spacing: 0; }

.widget-recent-news,
.widget-recent-posts { position: relative; padding-bottom: 122px; }

.widget-recent-news ol,
.widget-recent-posts ol { margin: 0; }

.widget-recent-news ol li,
.widget-recent-news ol li:first-child,
.widget-recent-posts ol li,
.widget-recent-posts ol li:first-child { border-width: 0; }

.widget-recent-news .x-btn,
.widget-recent-posts .x-btn { min-width: 238px; padding: 15px 15px 13px; font-size: 14px; font-weight: 600; line-height: 1; text-align: center; text-shadow: none; }

.widget-recent-news .widget-actions,
.widget-recent-posts .widget-actions { position: absolute; bottom: 44px; left: 0; }

/* =========================================================================
	#Widget Recent News
========================================================================= */
.x-colophon.top .widget-recent-news ol li { position: relative; padding-left: 21px; }

.widget-recent-news ol { padding-top: 21px; }
.widget-recent-news ol li:before { content: ''; position: absolute; top: 9px; bottom: 8px; left: 0; width: 5px; background: #3cb6dd; }
.widget-recent-news ol li + li { margin-top: 40px; }

/* =========================================================================
	#Widget Recent Posts
========================================================================= */
.widget-recent-posts img { margin-bottom: 27px; }
.widget-recent-posts h2 { margin: 0 0 14px; font-family: 'Raleway', sans-serif; font-weight: 700; line-height: 1; color: #272727; text-transform: none; }
.widget-recent-posts h2 a { color: #272727; }

/* =========================================================================
	#Footer
========================================================================= */
.x-colophon.top { padding: 39px 0 0; border-top-width: 0; }
.x-colophon.top .x-column { margin-right: 0; }
.x-colophon.top .x-column.x-md.x-1-2:first-child { width: 55%; padding-left: 28px; }
.x-colophon.top .x-column.x-md.x-1-2:last-child { float: right; width: 39%; padding-right: 20px; }
.x-colophon.top .h-widget { margin-bottom: 28px; font-size: 36px; font-weight: 700; line-height: 1; color: #272727; text-transform: uppercase; }

.x-colophon.bottom { padding: 0 0 90px; background-repeat: no-repeat; background-size: cover;
	-webkit-box-shadow: inset 0 2px 0 #fff; 
	        box-shadow: inset 0 2px 0 #fff; 
}
.x-colophon.bottom .x-container { overflow: hidden; text-align: left; }
.x-colophon.bottom .x-colophon-content { color: #5c5c5c; }

.x-colophon.bottom .x-container,
.x-colophon.bottom .x-colophon-content,
.x-colophon.bottom .alignleft .x-nav li a { font-size: 13px; line-height: 1.2; text-transform: none; letter-spacing: 0; }

.x-colophon.bottom .x-nav { margin-top: 15px; }
.x-colophon.bottom .alignleft { width: 49%; padding-top: 19px; margin-left: 2%; }
.x-colophon.bottom .alignleft .x-nav li { padding: 0 8px 0 12px; margin: 0; }
.x-colophon.bottom .alignleft .x-nav li:first-child { padding-left: 0; }
.x-colophon.bottom .alignleft .x-nav li + li { border-left: 1px solid #a6a6a6; }

.x-colophon.bottom .alignright { overflow: hidden; width: 41%; padding-top: 20px; margin-right: 2%; }
.x-colophon.bottom .footer-logo { float: left; margin-right: 22px; }
.x-colophon.bottom .footer-content { overflow: hidden; padding-top: 8px; font-size: 14px; }
.x-colophon.bottom .footer-content p { margin-bottom: 13px; }

/* =========================================================================
	#Blog
========================================================================= */
.page-template-template-news .x-main > .x-container,
.blog .x-main > .x-container { max-width: 980px; margin: 0 auto; }
.entry-header,
.entry-content { padding-top: 10px; margin-bottom: 3%; }

.entry-content {
  padding-top: 0px !important;
  margin-bottom: 3%;
  margin-top: 1% !important;
}

.entry-header {margin-top: 30px;}

.pagination { margin-bottom: 25px; }

.tp-caption.color-white {
font-size: 48px !important;
  line-height: 52px;
  font-family: "Josefin Sans";
  color: rgb(255,255,255);
  text-decoration: none;
  text-shadow: none;
  background-color: rgba(0,0,0,0);
  border-width: 0px;
  border-color: rgb(0,0,0);
  border-style: none;
}

.thankspage .page-title {height: 100px; margin-bottom:0px;}

.thankspage .page-title h1 {display:none;}

.thankspage .page-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 10px;
}

/* =========================================================================
	#News
========================================================================= */
.page.page-template-template-news .hentry .entry-content { padding: 0 10%; }
.page.page-template-template-news .hentry .entry-wrap:last-child { border-bottom: 1px solid rgba(0, 0, 0, .075); }

/* =====================================================
	#Blog New
====================================================== */

.page-title { background: url(images/title.jpg) no-repeat center 0; background-size: cover; border: 1px solid #ebebeb; border-width: 1px 0; margin-bottom: 35px; height: 150px; }
.page-title .shell { position: relative; padding-top: 66px; padding-bottom: 3px; }
.page-title img { position: absolute; bottom: 0; right: 0; }
.page-title h1 { margin: 0; color: #fff; font-size: 80px; text-transform: uppercase; line-height: 1; padding-right: 120px; }

.post-title { font-weight: 500; }
.post { /*font-weight: 600;*/ line-height: 1.5; }
.post-more { text-align: right; font-weight: bold; position: absolute; bottom: 10px; right: 20px; }
.post-more a:after { content: ''; display: inline-block; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-left: 7px solid #f59e13; vertical-align: middle; position: relative; top: -2px; margin-left: 8px; }

.posts { margin: 0 10px 0 -6.5%; }
.posts h2 { margin: 0 0 10px; }
.posts p { margin: 0 0 15px; }
.posts .post { float: left; display: table; border: 1px solid #e1e1e1; width: 43.5%; margin: 0 0 6.5% 6.5%; }
.posts .post:nth-child(2n+1) { clear: both; }
.posts .post-inner { display: table-cell; vertical-align: middle; position: relative; padding: 46px 35px 38px; }
.posts .post-more { margin-bottom: 0; }

.pagination { text-align: right; margin: 6px -7px 40px 0; }
.pagination .expand { display: none; }
.pagination a { background-color: #f59e13; border-color: #f59e13; width: 30px; height: 30px; line-height: 26px; color: #fff; font-weight: bold; font-size: 14px; margin: 0 7px; text-align: center; }
.pagination li span.current,
.pagination li a:hover { background-color: #3cb6dd; border-color: #3cb6dd; color: #fff; height: 30px; line-height: 26px; font-weight: bold; }

/* =====================================================
	#Resource center new
====================================================== */

.resources { display: table; width: 100%; margin: 50px 0; border-bottom: 1px solid #c2c2c2; }
.resources-row { display: table-row; width: 100%; }
.resource-source { display: table-cell; width: 31%; height: 210px; vertical-align: top; border: 7px solid #fff; border-width: 11px 7px 11px 0; box-shadow: 0 -1px 0 #c2c2c2; font-size: 14px; padding: 10px 10px 10px 0; line-height: 1.3; font-weight: 600; }
.resource-source p { margin-bottom: 0; }
.resource-source h1 { color: #3cb6dd; position: relative; margin: 0 0 11px; padding: 6px 100px 6px 0; line-height: 1; word-break: break-word; }
.resource-source .button { font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: bold; font-size: 14px; letter-spacing: 0px; padding: 11px 13px 9px; border-radius: 5px; position: absolute; top: 3px; right: 0; }
.resource-post { display: table-cell; width: 23%; height: 210px; background-color: #fff; box-shadow: 0 -1px 0 #c2c2c2; vertical-align: middle; border: 7px solid #fff; border-width: 11px 7px; }
.resource-post a { width: 100%; height: 100%; display: table; border: 1px solid #c2c2c2; box-sizing: border-box; }
.resource-post:hover a { border: 1px solid #f79522; }
.resource-post span { display: table-cell; width: 100%; height: 100%; background-color: #fff; vertical-align: middle; padding: 10px 20px; font-weight: bold; line-height: 1.5; }

/* =========================================================================
	#Media
========================================================================= */
@media only screen and (max-width: 1024px) {
	/* Base */
	img { max-width: 100%; height: auto; }

	/* Section Description */
	.section-description .section-text { text-align: center; }
	.section-description #macbook-image { float: none; margin: 0; }

	.shell { width: auto; padding: 0 20px; }

	.page-title h1 { font-size: 60px; }
	.page-title img { right: 20px; }
	.posts .post-inner { padding: 30px 20px; }

	.resource-source h1 { font-size: 30px; }
}

@media only screen and (max-width: 980px) {
	/* Section Description */
	.section-description .section-text { padding-left: 0; }

	.x-breadcrumb-wrap,
	body:not(.home) .x-main.full { padding-right: 20px; padding-left: 20px; }
}

@media only screen and (max-width: 979px) {
	/* X Navbar Wrap */
	.x-navbar-inner { padding: 0 20px; }
	.masthead-inline .x-btn-navbar { margin-top: 50px; }

	/* Section Description */
	.section-description .section-text { width: auto; padding: 0 20px; }

	/* Section Testimonials */
	.section-testimonials .tp-caption { width: auto; padding: 0 20px; }
	.section-testimonials .tp-caption.color-white,
	.section-testimonials .color-white { font-size: 30px !important; line-height: 1.2; }

	/* Section Featured */
	.section-featured .tp-caption { width: auto; padding: 0 20px; }
	.section-featured .alignleft,
	.section-featured .alignright { float: none; display: inline-block; vertical-align: top; }
	.section-featured .alignleft { width: 25%; text-align: left; }
	.section-featured .alignright { width: 74%; margin-right: 0; }

	/* Widget Recent News */
	.widget-recent-news ol { padding-top: 0; }

	/* Footer */
	.x-colophon.top { padding-right: 20px; padding-left: 20px; }
	.x-colophon.top .x-column  ~ .x-column { margin-top: 20px; }
	.x-colophon.top .x-column.x-md.x-1-2:first-child,
	.x-colophon.top .x-column.x-md.x-1-2:last-child { float: none; width: auto; padding: 0; }

	.x-colophon.top .widget { height: auto !important; }
	.x-colophon.top .x-column .widget:first-child { margin-top: 0; }

	.posts { margin-left: -3%; }
	.posts .post { width: 47%; margin: 0 0 3% 3%; }
	.pagination { margin-top: 50px; }

	.resource-post { font-size: 14px; padding: 10px; border-width: 6px 3px; }
	.resource-source { padding: 0; }
	.resource-source h1 { padding: 3px 0; margin-bottom: 5px; }
	.resource-source .button { display: block; margin-top: 5px; position: static; }
}

@media only screen and (max-width: 900px) {
	.section-featured h1,
	.section-featured h3 { margin-bottom: 10px; }
	.section-featured .tp-caption { line-height: 1.5; }
}

@media only screen and (max-width: 767px) {
	/* X Topbar */
	.x-topbar .alignright { float: none; }
	.x-topbar .menu { padding-top: 15px; }
	.x-topbar .x-social-global { float: right; }

	/* Section Promo */
	.section-promo { padding-bottom: 0; }
	.section-promo .x-block-grid.three-up { margin-top: 0; }
	.section-promo .x-block-grid.three-up > li.x-block-grid-item { width: 100% !important; min-height: 0; height: auto !important; padding-right: 20px; padding-left: 20px; margin-left: 0; }
	.x-block-grid.two-up>li {
	  width: 100% !important;
	  padding: 1.25%;
	}
	
	.section-services h2.h-custom-headline {
	  margin: 0 0 9px;
	  font-size: 22px;
	  font-weight: 700;
	  line-height: 1;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	}
	/* Section Services */
	.section-services.x-content-band { padding-right: 20px; padding-left: 20px; }

	/* Section Featured */
	.section-featured .tp-caption,
	.section-featured h1,
	.section-featured h3 { margin-bottom: 5px; line-height: 1.2; }
	.section-featured h1 { font-size: 30px; }
	.section-featured h3 { font-size: 20px; }

	/* Footer */
	.x-colophon.bottom { padding: 0; }
	.x-colophon.bottom .x-container { text-align: center; }
	.x-colophon.bottom .alignleft,
	.x-colophon.bottom .alignright { float: none; width: auto; padding: 0; margin: 0; }
	.x-colophon.bottom .footer-logo { float: none; margin: 0; }
	.x-colophon.bottom .footer-logo img { margin: 15px 0; }

	/* new blog */
	.page-title .shell { padding-top: 40px; }
	.page-title h1 { font-size: 40px; }
	.page-title img { max-width: 70px; height: auto; }
	.posts { margin-left: 0; }
	.posts h2 { font-size: 24px; }
	.posts .post { float: none; display: block; height: auto !important; width: auto; margin: 0 0 20px; }
	.posts .post-inner { display: block; }
	.pagination { margin-top: 20px; }
	.pagination { margin-right: -4px; }
	.pagination a { margin: 0 4px; }

	/* new resource */
	.resource-post,
	.resource-source { display: block; width: auto; height: auto; border: 0; box-shadow: none; margin-bottom: 2px; }
	.resources-row { display: block; margin-bottom: 40px; }
	.resources { display: block; border-bottom: 0; }
	.resource-source .button { position: absolute; top: -7px; }
	.resource-source h1 { margin-bottom: 13px; }
	
	.feedzy-rss .rss_item .rss_image { float: none !important; margin: 0 auto !important; padding: 0 0 12.313em !important; }
}

@media only screen and (max-width: 639px) {
	/* X Topbar */
	.x-topbar-inner { padding-bottom: 0; }
	.x-topbar .alignright { padding-top: 0; }
	.x-topbar .menu { float: none; display: inline-block; }
	.x-topbar .x-social-global { float: none; border-top: 1px solid rgba(0, 0, 0, 0.075); }

	/* Section Description */
	.section-description > .x-container { padding-bottom: 25px; }
	.section-description .x-content-band { padding-top: 0; }
	.section-description .x-btn { margin-top: 15px; }

	/* Section Testimonials */
	.section-testimonials .tp-caption.color-white,
	.section-testimonials .color-white { font-size: 20px !important; line-height: 1.2 !important; }
	
	
}

@media only screen and (max-width: 479px) {
	/* X Topbar*/
	.x-topbar .menu { padding-top: 10px; }
	.x-topbar .menu li { float: none; display: inline-block; line-height: 1.2; }

	/* Section Testimonials */
	.section-testimonials .tp-caption.color-white,
	.section-testimonials .color-white { font-size: 14px !important; }
}

@media only screen and (max-width: 399px) {
	/* X Navbar */
	.x-navbar .x-brand { width: 80%; }
}